<article class="resume-timeline-item position-relative pb-5">
	<div class="resume-timeline-item-header mb-2">
		<div class="d-flex flex-column flex-md-row">
			<h3 class="resume-position-title font-weight-bold mb-1">
				{{ experience.title }}
			</h3>
			<div class="resume-company-name ml-auto">
				<a
					*ngIf="experience.companyUrl"
					href="{{ experience.companyUrl }}"
					target="_blank"
					>{{ experience.companyName }}</a
				>
				<ng-container *ngIf="!experience.companyUrl">{{
					experience.companyName
				}}</ng-container>
			</div>
		</div>
		<!--//row-->
		<div class="resume-position-time">
			{{ experience.yearFrom }} - {{ experience.yearTo }}
		</div>
	</div>
	<!--//resume-timeline-item-header-->
	<div class="resume-timeline-item-desc">
		<p [innerHTML]="experience.roleDesc"></p>
		<ng-container *ngIf="experience.achivements">
			<h4 class="resume-timeline-item-desc-heading font-weight-bold">
				Achievements:
			</h4>
			<p>
				{{ experience.achivements }}
			</p>
		</ng-container>

		<ng-container
			*ngIf="experience.technologies && experience.technologies.length"
		>
			<h4 class="resume-timeline-item-desc-heading font-weight-bold">
				Technologies used:
			</h4>
			<ul class="list-inline">
				<li
					class="list-inline-item"
					*ngFor="let item of experience.technologies"
				>
					<span class="badge badge-primary badge-pill">{{
						item
					}}</span>
				</li>
			</ul>
		</ng-container>
	</div>
	<!--//resume-timeline-item-desc-->
</article>
<!--//resume-timeline-item-->
